#play{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    width: 70%;
    margin-top: 100px;
}

input{
    margin-right: 20px;
}

select{
    margin-right: 20px; 
}

#player{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#outputResult,
#outputPlayer,
#outputComputer{
    font-size: 30px;
}